.chat-main
  .main-header
    .main-header__left-box
      %h2.main-header__left-box__current-group
        d
      %ul.main-header__left-box__member-list
        Member :
        %li.main-header__left-box__member-lift-member 222
    =link_to "#" do
      %div.main-header__edit-btn Edit
  .messages
    .message
      .message__upper-info
        %p.message__upper-info__talker 222
        %p.message__upper-info__date 2019/11/08(Fri) 18:18:41
      %p.message__text sdvsd       
  .form
    %form#new_message.new_message
      .input-box
        %input#message_content.input-box__text{ :placeholder => "type a message", :type => "text"}
        %label{class: "input-box__image"}
          = icon('fas', 'image')
          %input{type: "file"}
      %input.submit-btn{:type => "submit", :value => "send"}